In [2]:
import sqlalchemy
from sqlalchemy import create_engine

engine = create_engine('sqlite:///university.db')

In [4]:
from sqlalchemy import MetaData
metadata = MetaData()

In [5]:
from sqlalchemy import (MetaData, Table, Column, Integer, Numeric, String, DateTime, Boolean, 
                        ForeignKey, create_engine)
from sqlalchemy import PrimaryKeyConstraint, UniqueConstraint, CheckConstraint

In [6]:
exam_mark = Table('exam_mark', metadata,
                  Column('exam_id', Integer(), primary_key=True, nullable=False),
                  Column('student_id', Integer(), nullable=False),
                  Column('subject_id', Integer(), nullable=False),
                  Column('mark', Integer()),
                  Column('exam_date', DateTime(), nullable=False),
                  PrimaryKeyConstraint('exam_id', name='exam_pk'),
                  extend_existing=True
                 )

In [7]:
lecturer = Table('lecturer', metadata,
                  Column('lecturer_id', Integer(), primary_key=True, nullable=False),
                  Column('surname', String(255), nullable=False),
                  Column('name', String(255), nullable=False),
                  Column('city', String(255), nullable=False),
                  Column('university_id', Integer(), nullable=False),
                  PrimaryKeyConstraint('lecturer_id', name='lecturer_pk'),
                  extend_existing=True
                 )

In [10]:
student = Table('student', metadata,
                  Column('student_id', Integer(), primary_key=True, nullable=False),
                  Column('surname', String(255), nullable=False),
                  Column('name', String(255), nullable=False),
                  Column('stipend', Integer(), nullable=False),
                  Column('kurs', Integer(), nullable=False),
                  Column('city', String(255)),
                  Column('birthday', DateTime(), nullable=False),
                  Column('university_id', Integer(), nullable=False),
                  PrimaryKeyConstraint('student_id', name='student_pk'),
                  extend_existing=True
                 )

In [11]:
subject = Table('subject', metadata,
                Column('subject_id', Integer(), primary_key=True, nullable=False),
                Column('subject_name', String(255), nullable=False),
                Column('hour', Integer(), nullable=False),
                Column('semester', Integer(), nullable=False),
                PrimaryKeyConstraint('subject_id', name='subject_pk'),
                extend_existing=True
               )

In [12]:
subject_lecturer = Table('subject_lecturer', metadata,
                         Column('subject_id', Integer(), nullable=False),
                         Column('lecturer_id', Integer(), primary_key=True, nullable=False),
                         PrimaryKeyConstraint('lecturer_id', name='subject_lecturer_pk'),
                         extend_existing=True
                        )

In [13]:
university = Table('university', metadata,
                   Column('university_id', Integer(), primary_key=True, nullable=False),
                   Column('university_name', String(255), nullable=False),
                   Column('rating', Integer(), nullable=False),
                   Column('city', String(255), nullable=False),
                   PrimaryKeyConstraint('university_id', name='university_pk'),
                   extend_existing=True
                  )

In [14]:
metadata.create_all(engine)

In [15]:
connection=engine.connect()

In [20]:
ins=university.insert().values(
    university_id=11,
    university_name="НГУ",
    rating=345,
    city="Новосибирск"
)

In [21]:
result=connection.execute(ins)

In [23]:
result.inserted_primary_key

[11]

In [25]:
from sqlalchemy.sql import select
s = select([university])  
rp = connection.execute(s)
results = rp.fetchall() 
results

[(10, 'ВГУ', 256, 'Воронеж'), (11, 'НГУ', 345, 'Новосибирск')]

In [27]:
ins = lecturer.insert()

lecturer_insert = [
    {'lecturer_id':24, 'surname':'Колесников', 'name':'Борис', 'city':'Воронеж', 'university_id':10},
    {'lecturer_id':46, 'surname':'Никонов', 'name':'Иван', 'city':'Воронеж', 'university_id':10}
]


result=connection.execute(ins,lecturer_insert)

In [28]:
s = select([lecturer])  
rp = connection.execute(s)
results = rp.fetchall() 
results

[(24, 'Колесников', 'Борис', 'Воронеж', 10),
 (46, 'Никонов', 'Иван', 'Воронеж', 10)]