# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [2]:
import pandas as pd

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [3]:
df = pd.read_csv('./data/sp500hst.txt', sep=',', header=None, 
                 names=["date", "ticker", "open", "high", "low", "close", "volume"])
df

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [4]:
df.mean()[3:]

low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [5]:
pd.to_datetime(df['date'], format='%Y%m%d')

0        2009-08-21
1        2009-08-24
2        2009-08-25
3        2009-08-26
4        2009-08-27
            ...
122569   2010-08-13
122570   2010-08-16
122571   2010-08-17
122572   2010-08-19
122573   2010-08-20
Name: date, Length: 122574, dtype: datetime64[ns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [6]:
df.groupby('ticker')['open'].mean()

ticker
A        30.234857
AA       13.086959
AAPL    221.342427
ABC      27.432122
ABT      50.996776
           ...
XTO      44.640338
YHOO     15.854774
YUM      37.456898
ZION     19.694057
ZMH      56.220980
Name: open, Length: 524, dtype: float64

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

In [7]:
df1 = pd.read_csv('./data/sp_data2.csv', sep=';', header=None,
                 names=["ticker", "full_name", "percent"])
df1.head()

  ticker   full_name percent
0   AAPL       Apple    3.6%
1   AMZN  Amazon.com    3.2%
2  GOOGL    Alphabet    3.1%
3   GOOG    Alphabet    3.1%
4   MSFT   Microsoft    3.0%

In [8]:
df2 = pd.merge(df, df1)
df2.head()

,date,ticker,open,high,low,close,volume,full_name,percent
0,20090821,A,25.60,25.6100,25.220,25.55,34758,Agilent Technologies,0.1%
1,20090824,A,25.64,25.7400,25.330,25.50,22247,Agilent Technologies,0.1%
2,20090825,A,25.50,25.7000,25.225,25.34,30891,Agilent Technologies,0.1%
3,20090826,A,25.32,25.6425,25.145,25.48,33334,Agilent Technologies,0.1%
4,20090827,A,25.50,25.5700,25.230,25.54,70176,Agilent Technologies,0.1%

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца(ов) с индексами.

In [9]:
recipes = pd.read_csv('./data/recipes_sample.csv', index_col='id')
recipes.head()

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [10]:
reviews = pd.read_csv('./data/reviews_sample.csv', index_col=0)
reviews.head()

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [11]:
print(len(recipes))
print(len(recipes.columns))
print(recipes.dtypes)

30000
7
name               object
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

In [12]:
print(len(reviews))
print(len(reviews.columns))
print(reviews.dtypes)

126696
5
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [17]:
recipes.isna().any()

name              False
minutes           False
contributor_id    False
submitted         False
n_steps            True
description        True
n_ingredients      True
dtype: bool

In [18]:
recipes.isna().any(axis=1).sum() / recipes.shape[0]

0.5684666666666667

In [20]:
reviews.isna().any()

user_id      False
recipe_id    False
date         False
rating       False
review        True
dtype: bool

In [21]:
reviews.isna().any(axis=1).sum() / reviews.shape[0]

0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [23]:
recipes[ ['minutes', 'n_steps', 'n_ingredients']].mean()

minutes          123.358133
n_steps            9.805582
n_ingredients      9.008286
dtype: float64

In [24]:
reviews.loc[:, ['rating']].mean()

rating    4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [25]:
random_recipes = recipes['name'].sample(10, replace=False)
random_recipes

id
267536    artichoke sausage stuffing   dressing
318912                  strawberry or peach pie
126780                          pizza eggburger
46926                 wheat germ zucchini bread
414333    veggie potato chowder for slow cooker
178148                           perfect mojito
178935       country cookies  oatmeal blueberry
192848                          eggnog pancakes
498523                        zen wine spritzer
9158              brussels sprouts  with cheese
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [26]:
reviews.index = list(range(reviews.shape[0]))
reviews

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [27]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5)]

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
302399,quick biscuit bread,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
303944,peas fit for a king or queen,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
100837,hawaiian sunrise mimosa,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
286484,tasty dish s banana pudding in 2 minutes,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
11361,1 minute meatballs,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...
304922,zip and steam red potatoes with butter and garlic,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
74250,ziplock vanilla ice cream,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
256177,zucchini and corn with cheese,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
320622,zucchini with jalapeno monterey jack,10,305531,2008-08-20,3.0,simple and yummy!,3.0
162411,zucchini with serrano ham,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [28]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

In [31]:
recipes = pd.read_csv('./data/recipes_sample.csv', index_col=1, parse_dates=['submitted'])
recipes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 44123 to 298512
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   minutes         30000 non-null  int64
 2   contributor_id  30000 non-null  int64
 3   submitted       30000 non-null  datetime64[ns]
 4   n_steps         18810 non-null  float64
 5   description     29377 non-null  object
 6   n_ingredients   21120 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 1.8+ MB

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [33]:
recipes[recipes['submitted'] <= '31.12.2010']

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...
316950,zuni caf zucchini pickles,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
267661,zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
386977,zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
103312,zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
298512,cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [34]:
recipes['description_length'] = recipes['description'].str.len()
recipes

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
id,,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...
267661,zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
386977,zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
103312,zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
486161,zydeco soup,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
298512,cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [35]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
id,,,,,,,,
44123,George s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
67664,Healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
38798,I can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
35173,Italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
84797,Love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...
267661,Zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
386977,Zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
103312,Zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
486161,Zydeco soup,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
298512,Cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами).

In [64]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
id,,,,,,,,,
44123,George s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
67664,Healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
38798,I can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
35173,Italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
84797,Love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...
267661,Zurie s holey rustic olive and cheddar bread,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
386977,Zwetschgenkuchen bavarian plum cake,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
103312,Zwiebelkuchen southwest german onion cake,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
486161,Zydeco soup,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
298512,Cookies by design cookies on a stick,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [41]:
name_to_count = recipes.groupby(['contributor_id']).count()['name']
name_to_count

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: name, Length: 8404, dtype: int64

In [42]:
name_to_count[name_to_count == name_to_count.max()]

contributor_id
89831    421
Name: name, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы?

In [65]:
reviews.groupby(['recipe_id'])['rating'].mean()

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

In [72]:
recipes['name'].shape[0] - reviews.groupby(['recipe_id'])['recipe_id'].mean().shape[0]

1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [44]:
recipes.groupby(recipes['submitted'].dt.year).count()['submitted']

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: submitted, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты без отзывов должны отсутствовать в данной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [56]:
new = recipes.loc[:, ['name']].merge(reviews.loc[:, ['recipe_id', 'user_id', 'rating', 'review']], left_on='id', right_on='recipe_id')
new.dropna(subset=['review'], inplace=True)
new.drop(['review'], axis=1, inplace=True)
new.rename(columns = {'recipe_id':'id'}, inplace = True)
new.index = new['id']
new.drop(['id'], axis=1, inplace=True)
new

                                          name  user_id  rating
id
44123    George s at the cove  black bean soup   743566       5
44123    George s at the cove  black bean soup    76503       5
44123    George s at the cove  black bean soup    34206       5
67664       Healthy for them  yogurt popsicles   494084       5
67664       Healthy for them  yogurt popsicles   303445       5
...                                        ...      ...     ...
486161                             Zydeco soup   305531       5
486161                             Zydeco soup  1271506       5
486161                             Zydeco soup   724631       5
486161                             Zydeco soup   133174       5
298512  Cookies by design   cookies on a stick   804234       1

[126679 rows x 3 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`. У рецептов, для которых отсутствуют отзывы, в соответствущем столбце должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и выведя на экран строку из полученного `DataFrame`, содержащую информацию об этом отзыве.

In [60]:
df = recipes.loc[:, ['name']].merge(reviews.loc[:, ['recipe_id', 'review']], left_on='id', right_on='recipe_id')
df["review_count"] = df.groupby(["recipe_id"])["review"].transform(lambda x: x.count())
df.fillna(value=0, inplace=True)
df.drop(['review'], axis=1, inplace=True)
df

                                          name  recipe_id  review_count
0        George s at the cove  black bean soup      44123             3
1        George s at the cove  black bean soup      44123             3
2        George s at the cove  black bean soup      44123             3
3           Healthy for them  yogurt popsicles      67664             8
4           Healthy for them  yogurt popsicles      67664             8
...                                        ...        ...           ...
126691                             Zydeco soup     486161             6
126692                             Zydeco soup     486161             6
126693                             Zydeco soup     486161             6
126694                             Zydeco soup     486161             6
126695  Cookies by design   cookies on a stick     298512             1

[126696 rows x 3 columns]

In [62]:
df[df['review'] == 0]

KeyError: 'review'

5.3. Выясните, отзывы, добавленные в каком году, имеют наименьший средний рейтинг?

In [63]:
means = reviews.groupby(reviews["date"].dt.year)["rating"].mean()
means[means == means.min()]

AttributeError: Can only use .dt accessor with datetimelike values

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.